---
layout: page
title: Page With Image Modal
show_sidebar: false
---

<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
    </div>
    <div class="column is-8">
        <p>This is a page with the image-modal included. The page needs to be a .html page instead of markdown.</p>
        <p>You can click on the image to see a larger version in a modal.</p>
        <p>The below snippet shows an example of how to include the image modal.</p>

{% raw %}
<code>
{% include image-modal.html ratio="is-16by9" link="https://via.placeholder.com/400x225" alt="Example image" large_link="https://via.placeholder.com/1200x675" %}
</code>
{% endraw %}
    </div>
</div>

