# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Build Conda Environment And Run Python Tests 

on:
  push:
    branches:
      - main
      - avelez-cellxgene-dev
      - avelez-dev
      - avelez-cellxgene-dev
      - '*'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          channels: bioconda, conda-forge, defaults
          use-only-tar-bz2: true  
          auto-update-conda: true
          auto-activate-base: true
          
      - name: Create and start Conda environment. Run tests. Run YAPF
        run: |
          echo "Creating Conda Environment from environment.yml"
          conda env create -f environment.yml
          conda activate tdc-conda-env
          python run_tests.py
          yapf --style=google -r -d tdc
          conda deactivate
